---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import "../styles/global.css";

// Component for showing off projects
interface Props {
  title: string;
  description: string;
  image: ImageMetadata;
  imageAlt: string;
  link: string;
}

const { title, image, imageAlt, link, description } = Astro.props;
---
<a href={link} class="card-link">
  <article class="media-card">
    <div class="media-content">
      <h2 class="media-title">{title}</h2>
      <p class="media-description">{description}</p>
    </div>
    <Image src={image} alt={imageAlt} class="media-image" />
  </article>
</a>

<style>
  .media-card {
    display: flex;
    gap: 1.5rem;
    align-items: left;
    padding: 1rem;
    border: 1px solid var(--ctp-surface0);
    background: var(--ctp-mantle);
    border-radius: 25px;
  }

  .media-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
  }

  .media-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .media-title {
    margin: 0;
    font-size: 1.5rem;
  }

  .media-description {
    margin: 0;
    color: var(--ctp-subtext0);
  }

  .card-link {
    text-decoration: none;
    display: block;
    color: inherit;
  }
</style>
